<?xml version="1.0"?>

 <connectionStrings>
   <add name="CarDealership" connectionString="Server=tcp:cardealer1.database.windows.net,1433;Initial Catalog=CarDealershipDB;Persist Security Info=False;User ID=CarDealerApp;Password=Bull$eye1g6fr3iun85;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

 </connectionStrings>

